<a href="https://colab.research.google.com/github/kj824/algorithm_study/blob/main/0_%EA%B8%B0%EB%B3%B8_%EB%8D%B0%EC%9D%B4%ED%84%B0_%ED%83%80%EC%9E%85.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#파이썬 기본 타입

**int / float / bool / str / None**
- `int`: 정수
- `float`: 실수
- `bool`: True/False
- `str`: 문자열
- `None`: 값이 없음

##int (정수)

In [36]:
a, b = 10, 2

print(a / b)   # 나눗셈(주의: 결과는 float)

5.0

**문제1.**
$$ 아래 변수를 이용하여 1234 만들어라  $$

In [ ]:
a = 1
b = 2
c = 3
d = 4

a * 1000 + b * 100 + c * 10 + d

1234

**문제2.**
$$7^{2025} \text{의 마지막 6자리}$$

In [ ]:
# ** : 거듭제곱

7 ** 2025 % 10 ** 6

300807

**문제3**.
$$n = 2^{10} \cdot 3^{7} \cdot 5^{2} \cdot 11^{1}$$
일 때, n의 **양의 약수 개수**를 구하라.

In [ ]:
#전부 1씩 더해짐

11 * 8 * 3 * 2

528

## 실수 (Real number)
- 수직선 위의 모든 점에 대응되는 수의 집합

In [5]:
x, y = 3.14, 2.0

In [6]:
print(x + y)   # 덧셈

5.140000000000001

In [7]:
print(x - y)   # 뺄셈

1.1400000000000001

덧셈과 뺄셈에서는 이렇게 00001로 나옴 - 알아두기

In [9]:
print(x * y)   # 곱셈

6.28

In [10]:
print(x / y)   # 나눗셈(주의: 결과는 floxt)

1.57

In [11]:
print(x // y)  # 몫(정수 나눗셈)

1.0

**문제1. 정수부분과 소수부분 나누기**

$$ x = 12.01 $$
에 대하여서 정수부분과 소수부분을 나누기

In [20]:
# 단, 나누기와 나머지 계산 수식 사용
x = 12.01

정수 = int(x//1)
소수 = x%12

정수
소수

0.009999999999999787

**문제2 두 점사이의 거리**

- 점 두 개가 주어질 때 거리를 구해서 출력해라.

- $x1, y1 = 1, 2$
- $x2, y2 = 4, 6$

> **공식**

$$
d=\sqrt{(x_2-x_1)^2+(y_2-y_1)^2}
$$

In [ ]:
x1, y1 = 1, 2
x2, y2 = 4, 6

# 답안을 작성하시오
((x2-x1)**2 + (y2-y1)**2)**0.5

5.0

제곱근을 생각해보자!!

## str (문자열)
- 문자열은 불변타입으로, 한 글자만 바꾸는건 불가함
- "1000"은 문자열임

### ---문자열에서 사용 가능한 연산---

#### **(1) 연결: `+`**

- 문자열끼리 이어붙임 가능함

In [37]:
a = "data"
b = "analysis"
print(a + b)         # "dataanalysis"
print(a + " " + b)   # "data analysis"

dataanalysis
data analysis

#### **(2) 반복:`*`**

- 문자열 반복 가능함. 곱하는 값은 정수만 가능함

In [38]:
print("ha" * 3)
print("-" * 10)

hahaha
----------

#### **(3) 포함 여부: `in`**

- 문자열 안에 부분 문자열 있는지 확인 가능함

In [39]:
print("da" in "data")
print("z" in "data")

True
False

#### **(4) 길이: `len()`**

In [40]:
print(len("data"))  # 4

4

#### **(5) 인덱싱/슬라이싱**

- 문자열도 순서 있음

In [41]:
s = "abcdef"

print(s[0])

a

In [42]:
#맨 마지막 문자를 알 수 있는 방법

print(s[len(s)-1])

f

In [43]:
print(s[-1])

f

In [44]:
print(s[1:4])

bcd

In [45]:
print(s[:3])

abc

In [46]:
print(s[::3])

ad

In [47]:
#정렬 뒤집기

print(s[::-1])

fedcba

### ---자주 쓰는 문자열 메서드---

#### **(1) 공백 제거: `strip()`**

In [ ]:
s = "  hello  "
print(s.strip())

hello

#### **(2) 치환: `replace()`**

In [ ]:
price = "1,200원"
clean = price.replace(",", "").replace("원", "")
print(clean)

1200

In [ ]:
s = " h e l l o   "
s.replace(' ','')

'hello'

#### **(3) 분리/결합: `split()` / `join()`**

In [ ]:
text = "010, 1234, 5678"
parts = text.split(",")
print(parts)

print("-".join(parts))

['010', ' 1234', ' 5678']
010- 1234- 5678

#### **(4) 대소문자: `lower()` / `upper()`**

In [ ]:
print("Data".lower())  # "data"
print("data".upper())  # "DATA"

data
DATA

#### **(5) 시작/끝 검사: `startswith()` / `endswith()`**

In [23]:
print("report_01.csv".endswith(".csv"))  # True
print("2img_01.png".startswith("img_"))   # False

True
False

원하는 파일만 불러오고 싶을 때 사용 가능

!! 여기까지는 꼭 외워야함 !!



-------

### ---문자 성질 검사 메서드 (is~ 계열)---

- 문자열이 “숫자냐/문자냐/공백이냐” 같은 거 빠르게 체크할 때 씀

#### **(1) `isdigit()`**

- 전부 “숫자 문자”면 True 나옴
- 단, `1`, `3.14` 같은 건 False 나옴(마이너스/점 때문에)
- 전각 숫자(예: `１２３`) 같은 것도 True 될 수 있음

In [24]:
print("123".isdigit())     # True
print("-123".isdigit())    # False
print("3.14".isdigit())    # False
print("12a".isdigit())     # False

True
False
False
False

In [ ]:
from os import replace
# 정수를 판별하는 함수

def Z_판별기(정수):
    if  정수.replace('-', '').isdigit():
        return True
    else:
        return False

'123a'
'222'
'-0.5'
Z_판별기('222')

#.(점)은 true로 안됨

True

#### **(2) `isnumeric()` / `isdecimal()`**

- `isdecimal()` 가장 빡셈(10진 숫자만)
- `isdigit()` 그 다음
- `isnumeric()` 제일 넓음(분수/특수 숫자 문자까지 포함 가능)

In [ ]:
print("123".isdecimal())   # True
print("123".isdigit())     # True
print("123".isnumeric())   # True

True
True
True

#### **(3) `isalpha()` / `isalnum()`**
- `isalpha()` 전부 글자면 True(공백/숫자 있으면 False)
- `isalnum()` 글자+숫자만 있으면 True(특수문자 있으면 False)

In [ ]:
print("abc".isalpha())
print("abc1".isalpha())

print("abc1".isalnum())
print("abc_1".isalnum())

True
False
True
False

#### **(4) `isspace()`**

- 공백(스페이스/탭/개행)만 있으면 True

In [25]:
print("   ".isspace())     # True
print("\n\t".isspace())    # True
print(" a ".isspace())     # False

# print('\n\t')

True
True
False

In [ ]:
print('\n'+'나는 최고다!'+'\n'+'내가\t짱임!')

나는 최고다!
내가	짱임!

#### **(5) `islower()` / `isupper()` / `istitle()`**

In [ ]:
print("abc".islower())     # True
print("ABC".isupper())     # True
print("Hello World".istitle())  # True

### ---찾기/세기 메서드---

#### **(1) `find()` / `rfind()`**

- 찾으면 인덱스, 없으면 -1 반환함
- `rfind()`는 뒤에서부터 찾음

In [22]:
s = "banana"
print(s.find("a"))   # 2
print(s.rfind("na"))  # 4
print(s.find("z"))    # -1

1
4
-1

#### **(2) `index()` / `rindex()`**

- 찾으면 인덱스, 없으면 에러

In [ ]:
s = "banana"
print(s.index("na"))  # 2
# print(s.index("z")) # ValueError

2

#### **(3) `count()`**

In [ ]:
print("banana".count("a"))   # 3

3

#### **(4) `translate()` (여러 문자 한 번에 치환)**

In [ ]:
table = str.maketrans({"-": "", "_": "", " ": ""})
print("010-1234_566  7".translate(table))  # "01012345667"

01012345667

#### **(5) `splitlines()`**

In [ ]:
s = "a\nb\nc"
print(s.splitlines())  # ['a','b','c']

['a', 'b', 'c']

#### **(6) `capitalize()` / `title()` / `swapcase()`**

In [ ]:
print("hello".capitalize())   # "Hello"
print("hello world".title())  # "Hello World"
print("AbC".swapcase())       # "aBc"

Hello
Hello World
aBc

### ---포맷팅(문자열 만들기)---

#### **(1) f-string**

In [ ]:
name = "재영"
score = 95
print(f"{name} 점수는 {score}점")  # "재영 점수는 95점"

재영 점수는 95점

#### **(2) `format()`**

In [ ]:
print("x={}".format(10))
print("{:.2f}".format(3.14159))  # "3.14"

x=10
3.14

### ---정렬/정돈 메서드---

#### **(1) `zfill()`**

- 앞을 0으로 채움 (코드/날짜 포맷에서 많이 씀)

In [ ]:
print("6".zfill(3))     # "006"
print("12".zfill(3))    # "012"

006
012

#### **(2) `center()` / `ljust()` / `rjust()`**

In [ ]:
print("hi".center(6, "-"))  # "--hi--"
print("hi".ljust(6, "-"))   # "hi----"
print("hi".rjust(6, "-"))   # "----hi"

--hi--
hi----
----hi

## bool (불리언: True/False)

### **1) bool 기본**

- `bool`은 **True / False** 두 값만 갖는 타입이고, 비교/조건문의 결과로 가장 많이 등장.

In [ ]:
print(10 > 3)   # True
print(10 == 3)  # False

True
False

### **2) 논리 연산 (and, or, not)**

In [ ]:
a, b = True, False

print(a and b)  # False (둘 다 True여야 True)
print(a or b)   # True  (하나라도 True면 True)
print(not a)    # False (뒤집기)

### **3) Truthy / Falsy (자동으로 bool로 해석되는 규칙)**

파이썬은 조건문에서 다음 값들을 **False처럼** 취급:

- `0`, `0.0`
- `""` (빈 문자열)
- `[]`, `{}`, `set()` (빈 컨테이너)
- `None`

In [34]:
print(bool(0))

False

In [27]:
bool("")
#빈 문자열만 False, 빈 문자열이 아니라면 True

False

In [29]:
bool([])

False

In [30]:
bool(None)

False

In [31]:
print(bool("0"), bool([0]))                     # True True

True True

In [35]:
print(bool(0))     # False
print(bool(""))    # False
print(bool([]))    # False
print(bool(None))  # False
print(bool("0"), bool([0])) #True True

False
False
False
False
True True

### **4) `all()` 과 `any()`**

- 둘 다 “여러 조건을 한 번에” 판단할 때 쓰는 함수.

#### **4-1) `all(iterable)`**

- **모든 값이 True(Truthy)** 이면 True
- 하나라도 False(Falsy)면 False

In [ ]:
print(all([True, True, True]))

True

In [ ]:
print(all([True, False, True]))

False

In [ ]:
print(all([1, "hi", [0]]))

True

In [ ]:
print(all([1, "", 3]))

False

#### **4-2) `any(iterable)`**

- **하나라도 True(Truthy)** 이면 True
- 전부 False(Falsy)면 False

In [ ]:
print(any([False, False, True]))

True

In [ ]:
print(any([0, "", None]))

False

In [ ]:
nums = [0, 0, 5, 0]

In [ ]:
print(any(n != 0 for n in nums))

True

In [ ]:
vals = [1, None, 3]
print(any(v is None for v in vals))  # True

True

### **5) `all/any` 사용할 때 중요한 포인트**

#### **비어있는 경우(빈 리스트)의 결과**

- `all([])` 는 **True**
- `any([])` 는 **False**

In [ ]:
print(all([]))  # True
print(any([]))  # False

#외우기....

True
False

### **6) not 포함**
-`not`은 **True/False를 뒤집는 연산자**.

In [ ]:
print(not True)
print(not False)

False
True

In [ ]:
print(not True)
print(not False)

False
True

#### **1) 비어있다 / 비어있지 않다**
- 컨테이너(list/tuple/dict/set/str)는 **비어있으면 False**, 비어있지 않으면 True로 취급.

In [ ]:
items = []
print(not items)

True

In [ ]:
items = [1, 2]
print(not items)

False

In [ ]:
s = ""
print(not s)

True

In [ ]:
s = "hi"
print(not s)

False

#### **2) None(값 없음) 체크**
- `None`은 “값이 없다”는 표시라서, 보통 이렇게 확인해.

In [ ]:
x = None
print(x is None)

True

In [ ]:
print(not (x is None))

False

#### **3) “공백만 있는 문자열”도 ‘없다’로 보고 싶을 때**

- 빈 문자열이 아닌 `"   "` 같은 공백 문자열도 “없음” 처리하고 싶으면 `strip()`을 같이 씀.

In [ ]:
s = "   "
print(not s)
print(not s.strip())

False
True

#### **4) 포함/미포함을 not으로**

`in` 결과(True/False)에 `not`을 붙이면 “없다”가 됨.

In [ ]:
nums = [1, 2, 3]
print(not (5 in nums))
print(not (2 in nums))

True
False

In [ ]:
di = {'a':1, 'b':2}
for i in di:
    print(i)

a
b

In [ ]:
d = {'a':1}
print((1 in d.values()))

True

In [ ]:
d = {"a": 1}
print(not ("b" in d))

True

#### **5) 비교 결과를 뒤집기**

In [ ]:
x = 10
print(not (x > 0))
print(not (x == 10))
print(not (x != 10))

False
False
True

#### **6) 조건 여러 개를 not으로 묶기**

- 자주 쓰는 논리 변형.

* `not (A and B)` 는 `not A or not B` 와 같은 의미
* `not (A or B)` 는 `not A and not B` 와 같은 의미

In [ ]:
A = True
B = False

print(not (A and B))
print((not A) or (not B))

True
True