<a href="https://colab.research.google.com/github/kj824/algorithm_study/blob/main/0_%EB%8D%B0%EC%9D%B4%ED%84%B0_%EB%B6%84%EC%84%9D_%EA%B8%B0%EB%B3%B8_%EB%8D%B0%EC%9D%B4%ED%84%B0_%ED%83%80%EC%9E%85.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **0. 오늘의 목표**

- “데이터 타입”을 **의미(분석 관점)**, **저장(dtypes)**, **구조(차원/shape)** 로 나눠 설명할 수 있다.
- 파이썬의 **기본 자료형 + list/tuple/dict/set**을 데이터 분석 객체(DataFrame/Array/JSON)와 연결할 수 있다.
- 결측치/문자-숫자 혼재 같은 **타입 이슈**를 스스로 찾아 고칠 수 있다.
- **벡터/매트릭스/텐서**와 axis/shape 개념을 코드로 다룰 수 있다.

# **1. 데이터 타입은 “3층 구조”로 이해한다**

- **저장 타입(dtype)**
  - int64, float32, string, category, datetime64, …
- **구조 타입(차원/shape)**
  - 스칼라(0D) / 벡터(1D) / 매트릭스(2D) / 텐서(3D+)
- **의미 타입(분석 관점)**
  - 숫자인지/범주인지/시간인지/텍스트인지

## **2. 파이썬 기본(스칼라) 타입**

### **2-1. int / float / bool / str / None**

- `int`: 정수 (개수, 나이, 클릭수)
- `float`: 실수 (가격, 비율, 온도)
- `bool`: True/False (구매여부, 정상/불량)
- `str`: 문자열 (이름, 리뷰, 코드)
- `None`: “값이 없음” (결측의 시작점)

In [ ]:
x = 10 #int
y = 3.14 #실수
z = True #bool
s = "안녕" #str
n = None #값이 없다

print(type(x))
print(type(y))
print(type(z))
print(type(s))
print(type(n))

print(isinstance(x, int))
print(isinstance(y, int))

<class 'int'>
<class 'float'>
<class 'bool'>
<class 'str'>
<class 'NoneType'>
True
False

## **2-2. 스칼라 타입별 “연산법”**

## **2-2-1. int (정수)**

### **정수 (Integer, **ℤ**(독일어 : Zahlen))의 정의**

- 정수의 집합은 보통 아래와 같이 정의한다.

$$\mathbb{Z}={\ldots,-2,-1,0,1,2,\ldots}$$


- 좀 더 “구성” 관점에서 말하면, 정수는 **자연수의 뺄셈을 항상 가능하게 만든 최소의 수 체계**다.

- 즉 자연수 $\mathbb{N}$에서 $a-b$가 항상 자연수가 되지 않으니,
  - 이를 닫히게(closure) 만들기 위해 음수를 포함한 $\mathbb{Z}$를 도입.

또는 대수적으로는 $(\mathbb{Z}, +)$가 **덧셈에 대해 군(Abelian group)** 을 이루는 대표적인 예다:

- 닫힘성: $a,b\in\mathbb{Z}\Rightarrow a+b\in\mathbb{Z}$
- 항등원: $0$
- 역원: $a$의 역원은 $-a$
- 교환법칙: $a+b=b+a$

### **2) 영어 용어**

- **integer**는 라틴어 **integer**(“온전한, 손상되지 않은, 전체의”)에서 왔다.
    - 핵심 뉘앙스가 **whole(전체)**, **intact(쪼개지지 않은)** 이란 뜻.
    
- 그래서 정수는 “조각(분수)으로 쪼개지지 않은 수”라는 의미에서 **whole number** 계열로 이해.
- 참고로 라틴어 **integr-** 어근은 *integrity*(정직/온전함), **integral**(통합된/전체의) 같은 단어에도 남아 있다.

### **연산**

In [ ]:
# 주어진 수
a, b = 10, 2

In [ ]:
print(a + b)   # 덧셈

12

In [ ]:
print(a - b)   # 뺄셈

8

In [ ]:
print(a * b)   # 곱셈

20

In [ ]:
print(a / b)   # 나눗셈(주의: 결과는 float)

<class 'float'>

In [ ]:
print(a // b)  # 몫(정수 나눗셈)

5

In [ ]:
print(a % b)   # 나머지

0

In [ ]:
#나는 3의 배수인지 아닌지 궁금해!

n = 32065

n % 3

1

In [ ]:
print(a ** b)  # 거듭제곱

100

In [ ]:
print(a > b)   # 비교 연산

True

In [ ]:
# print(10 + "3")

### **문제1 각 자리 수 더하기**
$$ 아래 변수를 이용하여 1234 만들어라  $$

In [ ]:
#지정된 변수
a=1
b=2
c=3
d=4

#답안 작성
a*1000+b*100+c*10+d

1234

### **문제2 모듈러 거듭제곱**
$$7^{2025} \text{의 마지막 6자리}$$
를 구하라.

In [ ]:
#답안 작성
7**2025 % 10**6

300807

### **문제 3. 약수 개수**

$$n = 2^{10} \cdot 3^{7} \cdot 5^{2} \cdot 11^{1}$$
일 때, n의 **양의 약수 개수**를 구하라.

In [ ]:
#답안 작성

11*8*3*2

528

## **2-2-2. float (실수)**

### **실수 (Real number, **ℝ**)의 정의**

### **직관적 정의**

- 실수는 **수직선 위의 모든 점에 대응되는 수**의 집합이다.

- 즉 “연속적인 크기(길이, 시간, 온도 등)”를 표현하기 위해 등장하는 수 체계다.

<br>

### **공리적 관점**

- 실수 집합 $(\mathbb{R})$는 다음을 만족하는 구조로 정의할 수 있다.

$$(\mathbb{R}, +, \cdot, \le)$$

가

1. **순서체(ordered field)** 이고
2. **완비성(least upper bound property)** 을 갖는다.

- 여기서 “완비성”은

  - $\mathbb{R}$의 공집합이 아닌 부분집합 $S\subseteq\mathbb{R}$이 위로 유계(upper bounded)이면, S는 **최소상계(supremum)** 를 가진다.

- 이 성질 때문에 $\mathbb{R}$에서는 “구멍이 없다”는 의미의 연속성이 성립.

<BR>

### 3) **포함 관계(정리)**

$$\mathbb{Z}\subset\mathbb{Q}\subset\mathbb{R}$$

-$\mathbb{Z}$: 정수
- $\mathbb{Q}$: 유리수(분수로 표현 가능)
- $\mathbb{R}$: 유리수 + 무리수(예: $\sqrt2,\pi$) 전부 포함

<BR>

### 4) **영어 용어(왜 Real인가)**

- **real number**라는 표현은 “현실에 존재한다” 같은 뜻에서 시작됐다기보다, 역사적으로 **“허수(imaginary)”와 대비되는 이름**으로 굳어진 용어.
  - 17세기 이후 복소수 체계가 정리되면서, $\sqrt{-1}$ 같은 수를 **imaginary**라고 부르고, 그에 대비해 기존의 수(복소수에서 허수부가 0인 부분)를 **real**이라 부르게 됐다.
- 즉 “real = not imaginary(허수가 아닌)”이라는 **대비 용법**.

#### **쓸없수지 : 최소상계(least upper bound)란?**
- “어떤 집합을 위에서 덮는 상계들 중 가장 작은 것”.

<br>

#### 1) **상계(upper bound)부터**

실수 집합의 부분집합 $(S \subset \mathbb{R})$에 대해,

* 어떤 수 (u)가 **상계**라는 건
  $$
  \forall x \in S,; x \le u
  $$
  가 성립하는 것.
  즉, $u$는 $S$의 모든 원소보다 **크거나 같은** “천장”.

예) (S={1,2,3})이면 3, 4, 100은 다 상계.

<br>
<br>

#### 2) **최소상계(least upper bound) = 슈프리멈(supremum)**

- 상계는 보통 여러 개가 있음.
- 그중에서 **가장 작은 상계**를 **최소상계**라고 하고, 이를 아래같이 씀
$$
\sup S
$$


- **정의**
  - 어떤 수 $s$가 $S$의 슈프리멈이라는 건 두 조건을 동시에 만족하는 것.

1. $s$는 상계:
   $$
   \forall x\in S,; x\le s
   $$
2. $s$보다 더 작은 상계는 없다 $“가장 작다”$:
   $$
   \forall u ;(\text{u가 상계}) \Rightarrow s \le u
   $$

<br>

- 또는 많이 쓰는 동치 정의($ε$ 정의):

* $s$는 상계이고,
* 임의의 $\varepsilon>0$에 대해 $S$ 안에 $s-\varepsilon$보다 큰 원소가 존재:
  $$
  \forall \varepsilon>0,; \exists x\in S \text { such that } s-\varepsilon < x \le s
  $$
  즉, $S$의 원소들이 $s$에 **끝없이 가까이** 접근한다는 뜻.

<br>
<br>

#### 3) **최대값(max)와 차이**

* **최대값** $ \max S $: 집합 안에 실제로 존재하는 “가장 큰 원소”
  $$
  m\in S \text{ 이고 } \forall x\in S,; x\le m
  $$
* **슈프리멈** $ \sup S $: 집합 밖에 있을 수도 있는 “가장 낮은 천장”

관계:

* $\max S$가 존재하면 항상 $\sup S = \max S$
* 하지만 $\sup S$는 존재해도 $\max S$가 없을 수 있음

In [ ]:
x, y = 3.14, 2.0

In [ ]:
print(x + y)   # 덧셈

5.140000000000001

In [ ]:
print(x - y)   # 뺄셈

1.1400000000000001

In [ ]:
print(x * y)   # 곱셈

6.28

In [ ]:
print(x / y)   # 나눗셈(주의: 결과는 floxt)

1.57

In [ ]:
print(x // y)  # 몫(정수 나눗셈)

1.0

In [ ]:
print(x % y)   # 나머지

1.1400000000000001

In [ ]:
print(x ** y)  # 거듭제곱

9.8596

In [ ]:
print(round(x, 1))  # 반올림

3.1

In [ ]:
print(int(x))       # 정수로 변환(소수 버림)

3

### **문제1. 정수부분과 소수부분 나누기**

$$ x = 12.01 $$
에 대하여서 정수부분과 소수부분을 나누기

In [ ]:
# 답안 작성
# 단, 나누기와 나머지 계산 수식 사용
x = 12.01
정수 = int(x//1)
소수 = x%12


정수
소수

0.009999999999999787

### **문제2 두 점사이의 거리**

- 점 두 개가 주어질 때 거리를 구해서 출력해라.

- $x1, y1 = 1, 2$
- $x2, y2 = 4, 6$

> **공식**

$$
d=\sqrt{(x_2-x_1)^2+(y_2-y_1)^2}
$$

In [ ]:
x1, y1 = 1, 2
x2, y2 = 4, 6

# 답안을 작성하시오
((x2-x1)**2+(y2-y1)**2)**0.5

5.0

## **2-2-3. str (문자열) — 연산과 활용**

### **1) 문자열 개념**

- 문자열(str) 문자들의 나열임
- 숫자처럼 보여도 `"1000"`은 문자열임
- 문자열은 **불변(immutable)** 타입임. 한 글자만 바꾸는 거 불가함

In [ ]:
s = "1000"
print(type(s))

<class 'str'>

### **2) 문자열에서 되는 연산**

#### **(1) 연결: `+`**

- 문자열끼리 이어붙임 가능함

In [ ]:
a = "data"
b = "analysis"
print(a + b)         # "dataanalysis"
print(a + " " + b)   # "data analysis"

dataanalysis
data analysis

#### **(2) 반복:`*`**

- 문자열 반복 가능함. 곱하는 값은 정수만 가능함

In [ ]:
print("ha" * 3)
print("-" * 10)

hahaha
----------

#### **(3) 포함 여부: `in`**

- 문자열 안에 부분 문자열 있는지 확인 가능함

In [ ]:
print("aa" in "data")
print("z" in "data")

False
False

#### **(4) 길이: `len()`**

In [ ]:
print(len("data"))  # 4

4

#### **(5) 인덱싱/슬라이싱**

- 문자열도 순서 있음

In [ ]:
s = "abcdef"

print(s[0])

a

In [ ]:
print(s[len(s)-1])

f

In [ ]:
print(s[-1])

f

In [ ]:
print(s[1:4])

bcd

In [ ]:
print(s[:3])

abc

In [ ]:
print(s[::-1])

fedcba

### **4) 형 변환(문자열 ↔ 숫자)**

#### **(1) 문자열 숫자 → int/float**

In [ ]:
print(int("123"))
print(float("3.14"))

123
3.14

#### **(2) 숫자 → 문자열**

In [ ]:
x = 2025
print(str(x) + "년")   # "2025년"

2025년

### **5) 자주 쓰는 문자열 메서드**

#### **(1) 공백 제거: `strip()`**

In [ ]:
s = "  h e l l o  "
print(s.strip())

h e l l o

#### **(2) 치환: `replace()`**

In [ ]:
price = "1,200원"
clean = price.replace(",", "").replace("원", "")
print(clean)

1200

In [ ]:
s = "  h e l l o  "

s.replace(' ','')

'hello'

#### **(3) 분리/결합: `split()` / `join()`**

In [ ]:
text = "010,1234,5678"
parts = text.split(",")
print(parts)

print("-".join(parts))

['010', '1234', '5678']
010-1234-5678

#### **(4) 대소문자: `lower()` / `upper()`**

In [ ]:
print("Data".lower())  # "data"
print("data".upper())  # "DATA"

data
DATA

#### **(5) 시작/끝 검사: `startswith()` / `endswith()`**

In [ ]:
print("report_01.csv".endswith(".csv"))  # True
print("img_01.png".startswith("img_"))   # True

True
True

### **6) 문자 성질 검사 메서드 (is~ 계열)**

- 문자열이 “숫자냐/문자냐/공백이냐” 같은 거 빠르게 체크할 때 씀

### **6-1. `isdigit()`**

- 전부 “숫자 문자”면 True 나옴
- 단, `1`, `3.14` 같은 건 False 나옴(마이너스/점 때문에)
- 전각 숫자(예: `１２３`) 같은 것도 True 될 수 있음

In [ ]:
print("123".isdigit())     # True
print("-123".isdigit())    # False
print("3.14".isdigit())    # False
print("12a".isdigit())     # False

True
False
False
False

### **6-2. `isnumeric()` / `isdecimal()`**

- `isdecimal()` 가장 빡셈(10진 숫자만)
- `isdigit()` 그 다음
- `isnumeric()` 제일 넓음(분수/특수 숫자 문자까지 포함 가능)

In [ ]:
print("123".isdecimal())   # True
print("123".isdigit())     # True
print("123".isnumeric())   # True

#### **6-3. `isalpha()` / `isalnum()`**
- `isalpha()` 전부 글자면 True(공백/숫자 있으면 False)
- `isalnum()` 글자+숫자만 있으면 True(특수문자 있으면 False)

In [ ]:
print("abc".isalpha())
print("abc1".isalpha())

print("abc1".isalnum())
print("abc_1".isalnum())

True
False
True
False

#### **6-4. `isspace()`**

- 공백(스페이스/탭/개행)만 있으면 True

In [ ]:
print("   ".isspace())     # True
print("\n\t".isspace())    # True
print(" a ".isspace())     # False

print('\n\t')

True
True
False

### **6-5. `islower()` / `isupper()` / `istitle()`**

In [ ]:
print("abc".islower())     # True
print("ABCa".isupper())     # True
print("Hello World".istitle())  # True

True
False
True

### **7) 찾기/세기 메서드**

### **7-1. `find()` / `rfind()`**

- 찾으면 인덱스, 없으면 -1 반환함
- `rfind()`는 뒤에서부터 찾음

In [ ]:
s = "banana"
print(s.find("na"))   # 2
print(s.rfind("na"))  # 4
print(s.find("z"))    # -1

2
4
-1

### **7-2. `index()` / `rindex()`**

- 찾으면 인덱스, 없으면 에러

In [ ]:
s = "banana"
print(s.index("na"))  # 2
# print(s.index("z")) # ValueError

2

### **7-3. `count()`**

In [ ]:
print("banana".count("a"))   # 3

3

#### **8. `translate()` (여러 문자 한 번에 치환)**

In [ ]:
table = str.maketrans({"-": "", "_": "", " ": ""})
print("010-1234_566  7".translate(table))  # "01012345667"

01012345667

#### **9. `splitlines()`**

In [ ]:
s = "a\nb\nc"
print(s.splitlines())  # ['a','b','c']

['a', 'b', 'c']

#### **10. `capitalize()` / `title()` / `swapcase()`**

In [ ]:
print("hello".capitalize())   # "Hello"
print("hello world".title())  # "Hello World"
print("AbC".swapcase())       # "aBc"

Hello
Hello World
aBc

## **11) 포맷팅(문자열 만들기)**

### **11-1. f-string**

In [ ]:
name = "재영"
score = 95
print(f"{name} 점수는 {score}점")  # "재영 점수는 95점"

재영 점수는 95점

### **11-2. `format()`**

In [ ]:
print("x={}".format(10))
print("{:.2f}".format(3.14159))  # "3.14"

x=10
3.14

### **12) 정렬/정돈 메서드**

### **12-1. `zfill()`**

- 앞을 0으로 채움 (코드/날짜 포맷에서 많이 씀)

In [ ]:
print("6".zfill(3))     # "006"
print("12".zfill(3))    # "012"

006
012

### **12-2. `center()` / `ljust()` / `rjust()`**

In [ ]:
print("hi".center(6, "-"))  # "--hi--"
print("hi".ljust(6, "-"))   # "hi----"
print("hi".rjust(6, "-"))   # "----hi"

--hi--
hi----
----hi

## **2-2-4. bool (불리언: True/False)**

### **1) bool 기본**

- `bool`은 **True / False** 두 값만 갖는 타입이고, 비교/조건문의 결과로 가장 많이 등장.

In [ ]:
print(10 > 3)   # True
print(10 == 3)  # False

True
False

### **2) 논리 연산 (and, or, not)**

In [ ]:
a, b = True, False

print(a and b)  # False (둘 다 True여야 True)
print(a or b)   # True  (하나라도 True면 True)
print(not a)    # False (뒤집기)

False
True
False

### **3) Truthy / Falsy (자동으로 bool로 해석되는 규칙)**

파이썬은 조건문에서 다음 값들을 **False처럼** 취급:

- `0`, `0.0`
- `""` (빈 문자열)
- `[]`, `{}`, `set()` (빈 컨테이너)
- `None`

In [ ]:
bool(0)

False

In [ ]:
bool("")

False

In [ ]:
bool([])

False

In [ ]:
bool(None)

False

In [ ]:
print(bool("0"), bool([0]))                     # True True

True True

### **4) `all()` 과 `any()`**

- 둘 다 “여러 조건을 한 번에” 판단할 때 쓰는 함수.

#### **4-1) `all(iterable)`**

- **모든 값이 True(Truthy)** 이면 True
- 하나라도 False(Falsy)면 False

In [ ]:
print(all([True, True, True]))

True

In [ ]:
print(all([True, False, True]))

False

In [ ]:
print(all([1, "hi", [0]]))

True

In [ ]:
print(all([1, "", 3]))

False

#### **4-2) `any(iterable)`**

- **하나라도 True(Truthy)** 이면 True
- 전부 False(Falsy)면 False

In [ ]:
print(any([False, False, True]))

True

In [ ]:
print(any([0, "", None]))

False

In [ ]:
nums = [0, 0, 5, 0]

In [ ]:
# print(any(n != 0 for n in nums))

In [ ]:
# vals = [1, None, 3]
# print(any(v is None for v in vals))  # True

### **5) `all/any` 사용할 때 중요한 포인트**

#### **비어있는 경우(빈 리스트)의 결과**

- `all([])` 는 **True**
- `any([])` 는 **False**

In [ ]:
print(all([]))  # True
print(any([]))  # False

True
False

### **6) not 포함**
-`not`은 **True/False를 뒤집는 연산자**.

In [ ]:
print(not True)
print(not False)

False
True

#### **1) 비어있다 / 비어있지 않다**
- 컨테이너(list/tuple/dict/set/str)는 **비어있으면 False**, 비어있지 않으면 True로 취급.

In [ ]:
items = []
print(not items)

True

In [ ]:
items = [1, 2]
print(not items)

False

In [ ]:
s = ""
print(not s)

True

In [ ]:
s = "hi"
print(not s)

False

#### **2) None(값 없음) 체크**
- `None`은 “값이 없다”는 표시라서, 보통 이렇게 확인해.

In [ ]:
x = None
print(x is None)

True

In [ ]:
print(not (x is None))

False

#### **3) “공백만 있는 문자열”도 ‘없다’로 보고 싶을 때**

- 빈 문자열이 아닌 `"   "` 같은 공백 문자열도 “없음” 처리하고 싶으면 `strip()`을 같이 씀.

In [ ]:
s = "   "
print(not s)
print(not s.strip())

False
True

#### **4) 포함/미포함을 not으로**

`in` 결과(True/False)에 `not`을 붙이면 “없다”가 됨.

In [ ]:
nums = [1, 2, 3]
print(not (5 in nums))
print(not (2 in nums))

True
False

In [ ]:
di = {'a':1,'b':2}

for i in di:
  print(i)

a
b

In [ ]:
d = {"a": 1}
print( (1 in d.values()))

True

#### **5) 비교 결과를 뒤집기**

In [ ]:
x = 10
print(not (x > 0))
print(not (x == 10))
print(not (x != 10))

False
False
True

#### **6) 조건 여러 개를 not으로 묶기**

- 자주 쓰는 논리 변형.

* `not (A and B)` 는 `not A or not B` 와 같은 의미
* `not (A or B)` 는 `not A and not B` 와 같은 의미

In [ ]:
A = True
B = False

print(not (A and B))
print((not A) or (not B))

True
True